

header
{
    position: relative;
  margin-right: 55px;
  margin-left: 400px;
  margin-top: -15%;
  margin-bottom: 5px;
}
nav {
  color: rgb(236, 228, 228);
  text-decoration: none;
  margin-top: -5%;
  float: right;
}  
nav li{
  margin: 10px;
} 
nav ul{
  display: flex;
  justify-content: center;
  margin-top:-5%;
  align-items: center;
  list-style-type: none;
} 
.login-box {
    width: 330px;
    margin: auto;
    margin-top: 300px;
    padding: 20px;
    border: 3px solid red;
    border-bottom-left-radius: 150PX;
    border-top-right-radius: 150PX;
    background-color: #0b0c0bb4; 
    height: 400px;
  }
  .login-box:hover{
  box-shadow: 0 0 30PX red;
  }
  body{
     background-color: hsla(0, 0%, 2%, 0.847); 
     background-image: url("file:///C:/Users/OWNER/Documents/oxygym/oxygymd/images/imageSARA.jpg");
     background-size: cover;
     margin-bottom: 20%;
  }
  h2 {
    text-align: center;
    color: #e41717;
    font-weight: bold;
    font-size: 32px;
    margin-left:-5%;
  }
  h1{
    margin-top: 2%;
  }
  .white-letter {
    color: #f0f0f7;
    margin-left: 25%;
  }
  .white-letter:hover{
    color:rgb(255, 0, 0);
  }
  .red-letter {
    color: rgb(255, 0, 0);
    margin-left: -2%;
  }
  .red-letter:hover{
    color: #f0f0f7;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    padding: 10px;
    width:80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 91%, 45%);
    color: white;
    border-bottom: 2PX solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: transparent;
  }
  .forgot-password-btn {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 20PX;
    display: block;
    margin-left: 168px;
    margin-top: -10%;
    width: 50%;
    padding: 10PX;
  }
  
  .forgot-password-btn:hover {
    color:red;
    background-color: black;

  }
  
  .seConnecter {
    padding: 10px;
    width: 40%;
    margin-top: 2%;
    border-radius: 40px;
    background-color:transparent;
    color:red;
    border: 2PX solid red;
    cursor: pointer;
  }
  
  .seConnecter:hover {
    background-color:black;
  }
 #rememberMe{
    color: rgb(197, 11, 11);
    margin-left: -112PX;
    
  }
  label{
    color: white;
    width: 30%;
    margin-left: -112px;
   
   
  }
  
  .error {
    color: red;
  }
  .email-input {
    position: relative;
    padding-left: 10PX;
    
  }
  .email-input i {
    position: absolute;
    top: 29%;
    left: 230px;
    transform: translateY(-50%);
    color: rgb(167, 161, 161);
  }
  .email-input i:hover{
    color: red;
  }
  .email-input input {
    padding-left: 30px; /* Pour laisser de l'espace à l'icône */
  }
  .mot-input i {
    position: absolute;
    top: 29%;
    left: 230px;
    transform: translateY(-50%);
    color: rgb(167, 161, 161);
  }
  .mot-input i:hover{
    color: red;
  }
  .mot-input input {
    padding-left: 30px; /* Pour laisser de l'espace à l'icône */
  }
  .mot-input{
    position: relative;
    padding-left: 10PX;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon {
    display: inline-block;
    margin: 5px;
    margin-top: 10%;
    font-size: 34px;
    color:rgba(255, 255, 255, 0.925);
    transition: color 0.3s ease;
  }
  .social-icon:hover {
    color:red; /* Couleur au survol */
  }