
/* style de la page envoyer le code .css */
.reset-password-box{
  width: 340PX;
  margin-left: 37%;
    margin-top: 110px;
    padding: 20px;
    border: 3px solid red;
    border-bottom-left-radius: 150PX;
    border-top-right-radius: 150PX;
    background-color: #0b0c0bb4; 
    height: 400px;
}
body{
  background-color: hsla(0, 0%, 2%, 0.847); 
  background-image: url("file:///C:/Users/OWNER/Documents/oxygym/oxygymd/images/imageSARA.jpg");
  background-size: cover;
  margin-bottom: 20%;
}
h2 {
  text-align: center;
  color:#e41717e7;
  font-weight: bold;
  font-size: 28px;
  margin-left:-10%;
  margin-top: 10PX;
}

input {
  padding: 10px;
  width:85%;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: -5%;
  border: 1px solid hsl(0, 91%, 45%);
  color: white;
  border-bottom: 2PX solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: transparent;
}

button[type="submit"] {
  padding: 10px;
    width: 70%;
    margin-top: -2%;
    margin-left: 15%;
    border-radius: 40px;
    background-color:transparent;
    color:red;
    border: 2PX solid red;
    cursor: pointer;
}

button[type="submit"]:hover {
  background-color:rgba(255, 255, 255, 0.89);
  
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin: 5px;
  margin-top: 5%;
  font-size: 34px;
  color:rgba(255, 255, 255, 0.925);
  transition: color 0.3s ease;
}
.social-icon:hover {
  color:red; /* Couleur au survol */
}
h1{
  margin-top: 2%;
  margin-left: 2%;
}
.white-letter {
  color: #f0f0f7;
  margin-left: 25%;
}
.white-letter:hover{
  color:rgb(255, 0, 0);
}
.red-letter {
  color: rgb(255, 0, 0);
  margin-left: -2%;
}
.red-letter:hover{
  color: #f0f0f7;
}
i.fas.fa-check-circle{
  position: absolute;
  top: 37%;
  left: 757px;
  transform: translateY(-50%);
  color: rgb(167, 161, 161);
}
i.fas.fa-check-circle:hover{
  color: red;
}
 i.fa-lock{
  position: absolute;
  top: 46%;
  left: 757px;
  transform: translateY(-50%);
  color: rgb(167, 161, 161);

}
 i.fa-lock:hover{
  color: red;
}
i.fa-key{
  position: absolute;
  top: 55%;
  left: 757px;
  transform: translateY(-50%);
  color: rgb(167, 161, 161);


}
i.fa-key:hover{
  color: red;
}